AIRFLOW_HOME=<absolute-path-to-project>/airflow
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<user>:<password>@localhost:5432/airflow_metadata
AIRFLOW__CORE__DAGS_FOLDER=<absolute-path-to-project>/airflow/dags
AIRFLOW__LOGGING__BASE_LOG_FOLDER=<absolute-path-to-project>/airflow/logs
